{% extends 'blog.html' %}

{% block blogcss %}
    <link rel="stylesheet" href="/static/CSS/activities.css">
{% endblock %}

{% block blogbody %}
    <div id="activities">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-6 col-lg-3 col-xl-3 col-md-6">
                    <div class="card">
                        <img src="/static/Images/clicking.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Teaching Others</h3>
                            <h6 class="card-subtitle"> Clicking Academy </h6>
                            <p class="card-text">
                                Teaching Others
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xs-6 col-lg-3 col-xl-3 col-md-6">
                    <div class="card">
                        <img src="/static/Images/clicking2.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Teaching Others</h3>
                            <h6 class="card-subtitle"> Clicking Academy </h6>
                            <p class="card-text">
                                Teaching Others
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xs-6 col-lg-3 col-xl-3 col-md-6">
                    <div class="card">
                        <img src="/static/Images/home.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Teaching Others</h3>
                            <h6 class="card-subtitle"> Clicking Academy </h6>
                            <p class="card-text">
                                Teaching Others
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xs-6 col-lg-3 col-xl-3 col-md-6">
                    <div class="card">
                        <img src="/static/Images/clicking.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title">Teaching Others</h3>
                            <h6 class="card-subtitle"> Clicking Academy </h6>
                            <p class="card-text">
                                Teaching Others
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}