{% extends 'blog.html' %}

{% block blogcss %}
    <link rel="stylesheet" href="/static/CSS/blog_post.css">
{% endblock %}

{% block blogbody %}
    <div id="blog_post">
        <h1>Clicking Academy</h1>
        <h3>Blog Posts <a class="btn btn-primary" href="{% url 'academy:addpost' %}">Add Blog Post</a> </h3>
        <hr>
        {% for post in posts %}
            <div id="post">
                <h3 id="title">{{ post.title }}</h3>
                <h5 id="author">Author: {{ post.name }}</h5>
                <div id="content">
                    <p>{{ post.post }}</p>
                </div>
                <p>Comments {{ post.comment.all.count }} <br> <a href="{% url 'academy:post' post.id %}">View Post & Comments</a><br>
                {% if post.user_id == user.username %}
                    <a id="del" href="{% url 'academy:delete_post' post.id %}" >Delete</a>
                {% endif %}
                </p>
            </div>
        {% endfor %} 
    </div>
{% endblock %}
