#login_page{
    width: 100%;
    text-align: center;
    padding: 30px;
}

#login{
    display: grid;
    place-items: center;
}

#form{
    padding: 30px;
    background-color: rgba(7,7,7,0.4);
    border: 1px solid black;
    border-radius: 30px;
}

#form *{
    margin: 10px;
}

#form form *{
    border-radius: 20px;
    text-align: center;
}
